

@media (max-width: 1199px) {
    .hero__content .h1 {
        font-size: 35px;
        margin: 0 0 20px;;
    }
    .hero-section {
        padding: 140px 0 55px;
    }
    body {
        font-size: 16px;
    }
    .h2 {
        font-size: 30px;
        margin: 0 0 22px;
    }
    .hero__content .bottom-button {
        margin: 11px 0 0;
    }
    .default-button {
        font-size: 17px;
        min-height: 48px;
        padding: 10px 20px;
    }

    .chart-section {
        padding: 40px 0;
    }

    .table-section {
        padding: 45px 0;
    }
    .table-section__title {
        margin: 0 0 30px;
    }
    .table__ticks-row {
        margin: 14px 0 0;
        gap: 35px;
    }
    .table-tick__single {
        font-size: 14px;
    }
    .table-tick__single .table-tick {
        margin: 0 8px 0 0;
    }
    .table-tick {
        height: 20px;
        width: 20px;
        font-size: 12px;
    }
    .table_str1--1 td {
        width: 20%;
        height: 80px;
    }
    .table_str1 tr::after {
        border-width: 1px;
    }
    .tbl-logo .image img {
        height: 40px;
        margin: 0 0 5px;
    }
    .table_str1 td {
        font-size: 13.5px;
    }
    .tb-check-box .table-tick {
        height: 24px;
        width: 24px;
        font-size: 14px;
    }
    .table_str1--1 td:first-child {
        width: 240px;
    }


    .process-section {
        padding: 45px 0;
    }
    .process__column h3 {
        font-size: 20px;
        margin: 0 0 15px;
    }
    .process-section__title {
        margin: 0 0 7px;
    }
    .process__cont-wrap {
        --bs-gutter-x: 35px;
    }
    .arr-ul li {
        padding-left: 24px;
        margin: 0 0 20px;
    }
    .we__mrow__left .cont_blk_title {
        margin: 0 0 14px;
    }
    .we-section {
        padding: 60px 0;
    }
    .h3b {
        font-size: 20.5px;
        margin: 0 0 15px;
    }


    .cta-b__content .bottom-button {
        margin: 5px 0 0;
    }
    .cta-b-section {
        padding: 50px 0;
    }
}


@media (max-width: 991px) {
    .chart__mrow {
        flex-wrap: wrap;
    }
    .chart__mrow__left {
        width: 100%;
        margin: 0 0 30px;
    }

    .table_str1 td {
        font-size: 12.5px;
    }
    .table_str1 thead td {
        padding: 15px 5px;
    }
    .tbl-logo .image img {
        height: 35px;
        margin: 0 0 4px;
    }
    .table_str1 td {
        font-size: 11px;
    }
    .table_str1--1 td:first-child {
        width: 180px;
    }
    .table_str1--1 td {
        height: 65px;
    }


    .we__mrow {
        flex-wrap: wrap;
    }
    .we__mrow__left {
        width: 100%;
        margin: 0 0 25px;
    }
    .we__mrow__right {
        width: 100%;
    }


}


@media (max-width: 768px) {
    .hero__content .h1 {
        font-size: 30px;
    }
    .hero-section {
        padding: 120px 0 55px;
    }
    body {
        font-size: 15px;
    }
    .h2 {
        font-size: 25px;
        margin: 0 0 19px;
    }

    .chart__mrow__right {
        width: 100%;
    }
    .chart__pai-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .chart__pai-content .image-pai {
        margin: 0 0 10px;
    }
    .chart__pai-content .content-pai {
        width: 100%;
        max-width: 100%;
        padding: 0 0 0 25px;
    }
    .chart__pai-content .content-pai h3 {
        font-size: 22px;
        margin: 0 0 20px;
    }

    .table__ticks-row {
        margin: 10px 0 0;
        gap: 20px;
    }

    .process__column h3 {
        font-size: 18px;
        margin: 0 0 13px;
    }

    .process__cont-wrap {
        --bs-gutter-x: 28px;
    }
}   


@media (max-width: 575px) {
 
}


@media (max-width: 370px) {
    .hero__content .h1 {
        font-size: 27px;
    }
    .hero__content p {
        font-size: 13px;
    }
    .h2 {
        font-size: 22px;
        margin: 0 0 19px;
    }

}
